<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
  </body>
  <script>
    if (window.DeviceOrientationEvent) {
      var gyro = {
        alpha: 0,
        beta: 0,
        gamma: 0,
      }
      var event = {
        time: 0,
      }
      var server_url = "ws://"+window.location.origin.replace(/.*\/\//,'')+ "/mouse";
      var sock = new WebSocket(server_url);
      function socketSend(data){
        if(sock && sock.readyState == 1){
          sock.send(JSON.stringify(data));
        }
      }
      //touchHandler
      (function () {
        document.oncontextmenu = (e)=>{e.preventDefault()};
        var event = {
          type: "touch",
          touch: "",
        }
        function touch(ev) {
          if(ev && ev.type){
            event.touch = ev.type;
            if(ev.touches.length > 0) event.point = {x: ev.touches[0].screenX, y: ev.touches[0].screenY};
            socketSend(event);
          }
          ev.preventDefault();
        }
        document.addEventListener("touchstart",touch);
        document.addEventListener("touchend",touch);
        document.addEventListener("touchmove",touch);
        document.addEventListener("touchcancel",touch);
      })();
      const time_gap = JSON.parse("<%- JSON.stringify(time_gap) %>");
      //gyroHandler
      (function(){
        var event = {
          type: "gyro",
          gyro: null,
        }
        window.addEventListener('deviceorientation', function (ev) {
          gyro.alpha = ev.alpha.toFixed(6);
          gyro.beta = ev.beta.toFixed(6);
          gyro.gamma = ev.gamma.toFixed(6);
          event.time = new Date();
        }, false);
        var timmer = setInterval(()=>{
          if(new Date() - event.time < 2 * time_gap){
            event.gyro = gyro;
            socketSend(event);
          }
        },time_gap)
      })();
    } else {
        document.querySelector('body').innerHTML = '你的浏览器不支持陀螺仪';
    }

  </script>
</html>
